#importing the libraries

In [6]:
import numpy as np
import pandas as pd
import datetime

#Read the train,test set and the output of the KNN model

In [7]:
train_rating_df= pd.read_csv("train_rating.csv")
test_rating_df= pd.read_csv("test_rating.csv")

In [8]:
train_rating_df.head()

   Unnamed: 0  userId  movieId  rating
0       78834     489     3827     2.0
1        7523      51     1639     5.0
2       66122     425     5349     3.0
3       69250     448     3793     4.0
4       95606     600     3821     1.0

In [9]:
test_rating_df.head()

   Unnamed: 0  userId  movieId  rating
0       32974     225      380     3.0
1       83568     533   103688     5.0
2       19537     125   149902     2.0
3       38287     263     1183     5.0
4       59543     387     1982     3.0

In [10]:
final_train_data= pd.read_csv("train_final_data.csv")
final_test_data= pd.read_csv("test_final_data.csv")

In [11]:
final_train_data.head()

   Unnamed: 0  userId  movieId    rating
0           0   489.0   3827.0  3.499373
1           1    51.0   1639.0  4.000000
2           2   425.0   5349.0  3.558138
3           3   448.0   3793.0  4.000000
4           4   600.0   3821.0  4.500000

In [12]:
final_test_data.head()

   Unnamed: 0  userId   movieId    rating
0           0   225.0     380.0  3.716028
1           1   533.0  103688.0  4.354167
2           2   125.0  149902.0  2.911765
3           3   263.0    1183.0  4.508523
4           4   387.0    1982.0  3.757337

#Function to get performance metrics

In [13]:
def get_error_metrics(y_true, y_pred):
    rmse = np.sqrt(np.mean([ (y_true[i] - y_pred[i])**2 for i in range(len(y_pred)) ]))
    mape = np.mean(np.abs( (y_true - y_pred)/y_true )) * 100
    return rmse, mape

#Testing Training data

In [14]:
y_test=train_rating_df['rating']
print(y_test.values)

[2. 5. 3. ... 4. 4. 4.]

In [15]:
y_pred=final_train_data['rating']
print(y_pred.values)

[3.49937348 4.         3.55813775 ... 3.9090812  3.50415495 5.        ]

In [16]:
rsme_train,mape_train = get_error_metrics(y_test.values,y_pred.values)
train_results = {
    'rsme':rsme_train,
    'mape':mape_train
}

In [17]:
print(train_results)

{'rsme': 1.0304691212339059, 'mape': 33.44024611963449}

#Testing on test set

In [18]:
y_test=test_rating_df['rating']
print(y_test.values)

[3. 5. 2. ... 3. 2. 4.]

In [19]:
y_pred=final_test_data['rating']
print(y_pred.values)

[3.71602787 4.35416667 2.91176471 ... 3.51223776 2.48327767 3.4641349 ]

In [20]:
rsme_test,mape_test = get_error_metrics(y_test.values,y_pred.values)
test_results = {
    'rsme':rsme_test,
    'mape':mape_test
}

In [21]:
print(test_results)

{'rsme': 1.0226844428421382, 'mape': 33.05214710924582}